# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-ast
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: ^tests\/(testapp\/|manage.py)
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.29.1
    hooks:
      - id: django-upgrade
  - repo: https://github.com/hukkin/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-ruff
          - mdformat-footnote
          - mdformat-gfm
          - mdformat-gfm-alerts
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/google/yamlfmt
    rev: v0.21.0
    hooks:
      - id: yamlfmt
  - repo: local
    hooks:
      - id: msgcheck
        name: msgcheck
        description: 'Perform various checks on gettext files'
        entry: msgcheck
        additional_dependencies:
          - msgcheck
        language: python
        types:
          - pofile
# See https://pre-commit.ci/
ci:
  autoupdate_schedule: weekly
  skip:
    - no-commit-to-branch
    - msgcheck
