-e .
coverage==4.4.1
flake8==3.3.0
isort==4.2.15
mccabe==0.6.1
pydocstyle==2.0.0
pep8==1.7.0
pep8-naming==0.4.1
pre-commit==0.14.1
py==1.4.33
pytest==3.1.0
pytest-django==3.1.2
mock==2.0.0
pbr==3.0.1
